.chrono {
  position: absolute;
  width: 35vw;
  height: 250px;
  top: 10%;
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chrono_time {
  position: absolute;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
  padding-right: 4.9rem;
  font-size: 8.6rem;
  height: 8.6rem;
  font-family: "Orbitron";
  text-align: center;
  white-space: nowrap;
}

.chrono_time-ms {
  display: flex;
  align-items: flex-end;
  font-size: 3.6rem;
  font-weight: 500;
}

.chrono-laps {
  position: absolute;
  width: 55vw;
  height: 40%;
  top: 55%;
  left: 40%;
  transform: translateX(-50%);
}

.chrono_btns {
  width: 100%;
  height: 15rem;
  padding-top: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 21.5vh;
}

.chrono-laps_titles {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  padding-right: 2rem;
}

.chrono-laps_titles-lap {
  width: 10%;
  padding-left: 1%;
}

.chrono-laps_titles-total {
  width: 25%;
}

.chrono-laps_time {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 14rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;
  border-top: 1px solid #020402;
  padding-top: 15px;
}

.chrono-laps_time::-webkit-scrollbar {
  width: 12px;
}
.chrono-laps_time::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.chrono-laps_time::-webkit-scrollbar-thumb {
  background-color: #020402; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f5f5f5; /* creates padding around scroll thumb */
}

.chrono-laps_time-lap {
  width: 100%;
  min-width: 52vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: "Orbitron";
  padding-bottom: 1rem;
}

.chrono-laps_time-lap p {
  width: 35%;
  text-align: start;
  padding-left: 8%;
}

.chrono-laps_time-lap p:nth-child(1) {
  width: 5%;
  text-align: center;
  padding-left: 0;
}

.chrono-laps_time-lap p:nth-child(2) {
  padding-left: 16%;
}

.chrono-stop {
  background-color: rgb(255, 0, 0, 0.8) !important;
}

@media (max-width: 1024px) {
  .chrono {
    width: 100vw;
    height: 60%; /* 50% */
    position: initial;
    transform: translateX(0);
  }

  .chrono_time {
    width: auto;
    font-size: 9.2rem; /* 3.8rem */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 0;
    width: 60rem;
    margin: 0 auto;
  }

  .chrono_time-ms {
    padding: 2.5rem 0 0 1rem;
  }

  .chrono_btns {
    height: 100%;
    justify-content: space-between;
    padding: 23vh 35% 0 35%;
  }

  .chrono-laps {
    position: initial;
    height: 70%;
    width: 100%;
    transform: translateX(0);
  }

  .chrono-laps_titles {
    font-size: 1.8rem; /* 1.3rem*/
    padding: 0.5rem 1rem;
  }

  .chrono-laps_time {
    padding: 15px 2rem 0 1rem;
    height: 70%;
    max-height: 35vh;
  }

  .chrono-laps_time-lap {
    font-size: 1.7rem;
  }

  .chrono-laps_time-lap p {
    width: 35%;
  }
}

@media (max-width: 767px) {
  .chrono {
    height: 50%;
  }

  .chrono_time {
    font-size: 3.2rem;
    width: 25rem;
  }

  .chrono_time-ms {
    font-size: 2.5rem;
    padding: 0rem 0 0 1rem;
  }

  .chrono_btns {
    padding: 23vh 10% 0 10%;
  }

  .chrono-laps_titles {
    font-size: 1.3rem;
  }

  .chrono-laps_time {
    padding: 15px 0rem 0 1rem;
  }

  .chrono-laps_time-lap {
    font-size: 1.4rem;
    padding-right: 2rem;
  }

  .chrono-laps_time-lap p {
    width: 30%;
    padding-left: 0;
  }

  .chrono-laps_time-lap p:nth-child(2) {
    padding-left: 0%;
  }
}
