.main_content-hour {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 20%;
  font-family: "Orbitron";
  font-size: 9.5rem;
  font-weight: 500;
  transition: all;
}

.main_content-date {
  position: absolute;
  top: 15%;
  left: 27%;
  font-family: "Roboto";
  font-size: 2rem;
}

.main_content-options {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25px;
  min-width: 240px;
}

.main_content-options_opt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  min-height: 25px;
  font-size: 18px;
  font-family: "Roboto";
}

#twelve:checked {
  color: black;
}

.main_content-config {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .main_content-date {
    left: 50%;
    transform: translateX(-50%);
  }

  .main_content-hour {
    left: 50%;
    transform: translateX(-50%);
  }

  .main_content-options {
    left: 50%;
    transform: translateX(-50%);
  }

  .main_content-config {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .main_content-date {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .main_content-hour {
    font-size: 5.2rem;
    padding-top: 2.5rem;
  }

  .main_content-config {
    padding-top: 20%;
  }
}
