@import url("../styles/content-index.css");
@import url("../styles/alarm-modal.css");
@import url("../styles/alarm.css");
@import url("../styles/alarm-count.css");
@import url("../styles/tempo.css");
@import url("../styles/tempo-config.css");

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v27-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/roboto-v27-latin-500italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-500italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-500italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v27-latin-500italic.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-500italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-500italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/roboto-v27-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/roboto-v27-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto-v27-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-v27-latin-900italic.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto-v27-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-v27-latin-900italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* orbitron-regular - latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/orbitron-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/orbitron-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/orbitron-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/orbitron-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/orbitron-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/orbitron-v17-latin-regular.svg#Orbitron")
      format("svg"); /* Legacy iOS */
}
/* orbitron-500 - latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/orbitron-v17-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/orbitron-v17-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/orbitron-v17-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/orbitron-v17-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/orbitron-v17-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/orbitron-v17-latin-500.svg#Orbitron") format("svg"); /* Legacy iOS */
}
/* orbitron-700 - latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/orbitron-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/orbitron-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/orbitron-v17-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/orbitron-v17-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/orbitron-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/orbitron-v17-latin-700.svg#Orbitron") format("svg"); /* Legacy iOS */
}
/* orbitron-900 - latin */
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/orbitron-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/orbitron-v17-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/orbitron-v17-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/orbitron-v17-latin-900.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/orbitron-v17-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/orbitron-v17-latin-900.svg#Orbitron") format("svg"); /* Legacy iOS */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
}

ul,
li {
  list-style: none;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.button {
  padding: 0.8rem 3.5rem;
  font-family: "Roboto";
  font-weight: 500;
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
  color: white;
  width: auto;
  background-color: #000;
  border: none;
  opacity: 0.9;
  cursor: pointer;
}

.button-blank {
  border: none;
  padding: 0.8rem 3.5rem;
  font-family: "Roboto";
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}
